@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
	display:block;
  width: 100%;
}

h2 {
	font-size: 1em;
	color: #ccc;
	text-transform: capitalize;
}

figcaption {
	color: #fff;
	font-family: sans-serif;
	position: absolute;
}

figure {
	position: relative;
}

.column1 {
	width: 33.33%;
	float: left;
	display: inline-block;
	border-right-color:#b2b2b2;
	border-right-width: 1px;
	border-right-style: solid;
	padding: 0 1rem;
}

.column2 {
	width: 33.33%;
	display: inline-block;
	border-right-color:#b2b2b2;
	border-right-width: 1px;
	border-right-style: solid;
	padding: 0 1rem;
}

.column3 {
	width: 33.33%;
	float: right;
	display: inline-block;
	padding: 0 1rem;
	
}
